<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    
</head>
<style>
    .about-section p {
        font-size: 30px;
    }

    .about-section h1 {
        font-size: 50px;
    }

    .about-section ul {
        list-style: none;
        font-size: 24px;
        margin-left: -36px;
        font-weight: 500;
    }

    .about-section ul li {
        margin-bottom: 10px;
    }
</style>

<body>
    <div class="navbar">
        <a href="index.html" class="home-icon"><img src="home.png" alt="Home"></a>
        About Us
    </div>
    
    <div class="container">
        <div class="about-section">
            <h1>About Us</h1>
            <p>For the betterment if the civilization, connection of civilians and governing body is necessery.
                If we are well connected, we can easily solve the problems of our society. To establish this
                connection, The binary brains have come up with a smart solution. We are a team of young and
                talented individuals who are passionate about making a difference in the world. We believe that
                technology has the power to bring people together and make their lives easier.
            </p>
            <ul>
                <li>Regards,</li>
                <li>Megha</li>
                <li>Mansi</li>
                <li>Deepak</li>
                <li>Daksh</li>
            </ul>
        </div>
    </div>
</body>

</html>